/* Your Website Styles */

h1	{
color: #FF5050;
font-family: 'Arvo', sans-serif;
width: 100%;
font-size: 3em;
margin: 100px orange;
padding: 10px 10px 20px 20px;
text-align: center;
background-color: #3C3C40; 
letter-spacing: +8px
}

h2 {
	text-align: left;
	font-family: 'Poiret One', sans-serif;
	color:#404055;
}
h3 {
	text-align: left;
	font-family: 'Arvo', sans-serif;
	color: #404055;
}

p {
	text-align: left;
	font-family: 'Poiret One', sans-serif;
}

nav a {
	font-family: 'Poiret One', sans-serif;
}

img	{
	
	width: 480px;
	border-radius: 40px;
}
body	{
background: url(../img/wavegrid.png)

}
/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

a {
	list-style: none;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
}

ul {
	margin: 0 0 0 0;
	list-style: none;
}

ul li {
	float: left;
	margin-right: 40px;
}



